.mv-avatar {
  margin: 5px;
  height: 60px !important;
  width: 60px !important;
}

.mv-card {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}

@media (min-width: 600px) {
  .mv-avatar {
    height: 280px !important;
    width: 280px !important;
  }
  .mv-card {
    flex-direction: column;
    justify-content: center;
  }
}
