.movieFilter {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 10px;
  padding: 10px;
  box-sizing: border-box;
  border: gray 1px solid;
  border-radius: 6px;
}

.movieFilter > div:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .movieFilter {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .movieFilter > div:not(:last-child) {
    margin-bottom: 0;
  }
}

.movieFilter .MuiSelect-select,
.genre {
  text-transform: capitalize;
}

.prices {
  display: flex;
}
