$small: 601px;

.App {
  height: 100%;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &--flex {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-studios {
    flex-direction: column;
  }
}

.card {
  border: 1px solid gray;
  border-radius: 4px;
  margin: 2px;
  padding: 5px;
  display: flex;

  &--regular {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--small {
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
}

.avatar {
  margin: 5;
  width: 280px;

  @media screen and (max-width: $small) {
    width: 60px;
  }
}

.text {
  &--inline {
    display: inline-block;
  }

  &--bold {
    font-weight: bold;
  }
}
